head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js')
    script(src='/js/compiled.js')