
<div class="demo-drawer mdl-layout__drawer mdl-color--indigo-600 mdl-color-text--white-100">
    <header class="demo-drawer-header">
        <h5>Service Monitor</h5>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--indigo-800 mdl-js-ripple-effect">
        <a class="mdl-navigation__link is-active" href="#fixed-tab-1 "><i class="mdl-color-text--white-400 material-icons" role="presentation">home</i>Home</a>
        <a class="mdl-navigation__link" href="#fixed-tab-2"><i class="mdl-color-text--white-400 material-icons" role="presentation">assessment</i>Stats</a>
        <a class="mdl-navigation__link" href="#fixed-tab-3"><i class="mdl-color-text--white-400 material-icons" role="presentation">device_hub</i>Node</a>
        <a class="mdl-navigation__link" href="#fixed-tab-4"><i class="mdl-color-text--white-400 material-icons" role="presentation">face</i>About</a>
        <div class="mdl-layout-spacer"></div>
    </nav>
</div>