<section class="mdl-layout__tab-panel" id="fixed-tab-4">

    <div class="page-content">
        <div class="mdl-grid demo-content">

            <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-grid section-title">
                    <h2>About Service Monitor</h2>
                    <p>Service Monitor is an open source app for the Gorgon Service Container Server.</p>

                    <h4>Developed By</h4>
                    <p>Ryan Rentfro - rrentfro at gmail dot com</p>
                </div>
            </div>
        </div>
    </div>

</section>