<section class="mdl-layout__tab-panel" id="fixed-tab-3">

    <div class="page-content">
        <div class="mdl-grid demo-content">

            <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-grid section-title">
                    <h2>Node Insights</h2>
                    <p>Information regarding this servers operations and configurations.</p>
                </div>
            </div>

            <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid card-container">


                <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                    <div class="status-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                            <h3><i class="material-icons">device_hub</i> Node Information</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Up-time: 1 Month, 10 Days, 4 Hours, 6 Min
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Hostname: 0
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Connected Nodes: 0
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Connected Clients: 0
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Version: v0.0.0
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                View Status
                            </a>
                            <div class="mdl-layout-spacer"></div>
                            <i class="material-icons">settings_input_component</i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>