<section class="mdl-layout__tab-panel" id="fixed-tab-2">
    <div class="page-content">
        <div class="mdl-grid demo-content">

            <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-grid section-title">
                    <h2>Service Statistics</h2>
                    <p>Operational statistics for this nodes services</p>
                </div>
            </div>


            <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid card-container">


                <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                    <div class="status-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                            <h3><i class="material-icons">assessment</i> Monitoring</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Services Running: 0
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Services Failing: 0
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Service Errors: 0
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Service Warnings: 0
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Connected Nodes: 0
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                View Status
                            </a>
                            <div class="mdl-layout-spacer"></div>
                            <i class="material-icons">settings_input_component</i>
                        </div>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                    <div class="status-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                            <h3><i class="material-icons">assessment</i> Networking</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Component Total: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                HTTP Total: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                REST Total: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                API Total: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                TCP/IP Total: 12
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                View Status
                            </a>
                            <div class="mdl-layout-spacer"></div>
                            <i class="material-icons">settings_input_component</i>
                        </div>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                    <div class="status-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                            <h3><i class="material-icons">assessment</i> Sessions</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Total Sessions: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Active Sessions: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Failed Access Attempts: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Session Errors: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Session Warnings: 12
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                View Status
                            </a>
                            <div class="mdl-layout-spacer"></div>
                            <i class="material-icons">settings_input_component</i>
                        </div>
                    </div>
                </div>


                <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                    <div class="status-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                            <h3><i class="material-icons">assessment</i> Storage</h3>
                        </div>
                        <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Memory Services: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Mongo Services: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                MySQL Services: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                File Services: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Files Stored: 12
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Memory Used: 128Mb
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                Disk Consumption: 12Mb
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                View Status
                            </a>
                            <div class="mdl-layout-spacer"></div>
                            <i class="material-icons">settings_input_component</i>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>
</section>