<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--indigo-800 mdl-color-text--white-100">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Gorgon Service Status Monitor</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">Node</li>
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">GitHub</li>
            </ul>
        </div>

        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Home</a>
            <a href="#fixed-tab-2" class="mdl-layout__tab">Stats</a>
            <a href="#fixed-tab-3" class="mdl-layout__tab">Node</a>
            <a href="#fixed-tab-4" class="mdl-layout__tab">About</a>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--indigo-600 mdl-color-text--white-100">
        <header class="demo-drawer-header">
            <h5>Service Monitor</h5>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--indigo-800">
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--white-400 material-icons" role="presentation">home</i>Home</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--white-400 material-icons" role="presentation">assessment</i>Stats</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--white-400 material-icons" role="presentation">device_hub</i>Node</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--white-400 material-icons" role="presentation">face</i>About</a>
            <div class="mdl-layout-spacer"></div>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
            <div class="page-content">

                <div class="mdl-grid demo-content">

                    <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-grid section-title">
                            <h2>Service Status Monitor</h2>
                            <p>Welcome to the service monitor. Here you will find real time insight into the services operating on this Gorgon Server node.</p>
                        </div>
                    </div>

                    <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid card-container">


                        <div class="mdl-cell mdl-cell--6-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand status-up">
                                    <h3><i class="material-icons">verified_user</i> Monitoring</h3>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The monitoring sub-system is operational.
                                    <p class="check-status"><strong>Last Check: </strong><span class="service-time">01/02/2016</span></p>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Stats
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">assessment</i>
                                </div>
                            </div>
                        </div>


                        <div class="mdl-cell mdl-cell--6-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand status-up">
                                    <h3><i class="material-icons">verified_user</i> Networking</h3>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The networking sub-system is operational.
                                    <p class="check-status"><strong>Last Check: </strong><span class="service-time">01/02/2016</span></p>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Stats
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">assessment</i>
                                </div>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--6-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand status-up">
                                    <h3><i class="material-icons">verified_user</i> Sessions</h3>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The session sub-system is operational.
                                    <p class="check-status"><strong>Last Check: </strong><span class="service-time">01/02/2016</span></p>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Stats
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">assessment</i>
                                </div>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--6-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand status-up">
                                    <h3><i class="material-icons">verified_user</i> Storage</h3>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    The storage sub-system is operational.
                                    <p class="check-status"><strong>Last Check: </strong><span class="service-time">01/02/2016</span></p>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Stats
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">assessment</i>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
            <div class="page-content">
                <div class="mdl-grid demo-content">

                    <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-grid section-title">
                            <h2>Service Statistics</h2>
                            <p>Operational statistics for this nodes services</p>
                        </div>
                    </div>


                    <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid card-container">


                        <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                                    <h3><i class="material-icons">assessment</i> Monitoring</h3>
                                </div>
                                <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Status
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">settings_input_component</i>
                                </div>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                                    <h3><i class="material-icons">assessment</i> Networking</h3>
                                </div>
                                <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Status
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">settings_input_component</i>
                                </div>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                                    <h3><i class="material-icons">assessment</i> Sessions</h3>
                                </div>
                                <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Status
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">settings_input_component</i>
                                </div>
                            </div>
                        </div>


                        <div class="mdl-cell mdl-cell--12-col mdl-grid card-container">
                            <div class="status-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand mdl-color--indigo-800 mdl-color-text--white-200">
                                    <h3><i class="material-icons">assessment</i> Storage</h3>
                                </div>
                                <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-grid">
                                        Services Running: 12
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border mdl-color--grey-200 mdl-color-text--white-400">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Status
                                    </a>
                                    <div class="mdl-layout-spacer"></div>
                                    <i class="material-icons">settings_input_component</i>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">

            <div class="page-content">
                <div class="mdl-grid demo-content">

                    <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-grid section-title">
                            <h2>Node Insights</h2>
                            <p>Information regarding this servers operations and configurations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-4">

            <div class="page-content">
                <div class="mdl-grid demo-content">

                    <div class="status-zone mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-grid section-title">
                            <h2>About Service Monitor</h2>
                            <p>Service Monitor is an open source app for Gorgon.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
</div>

</body>